[Unit]
Description=secret service
After=network-online.target

[Service]
ExecStart=/bin/bash -c " \
    SECRETSERVICE_DOMAIN=admin1.hkjn.me
    /opt/bin/secretservice"

[Install]
WantedBy=network-online.target
