[Unit]
Description=secret service
After=network-online.target

[Service]
ExecStart=/bin/bash -c " \
    SECRETSERVICE_SEED=$(cat /etc/secrets/secretservice/seed) \
    /opt/bin/secretservice"

[Install]
WantedBy=network-online.target
