[user]
        email = me@hkjn.me
        name = Henrik Jonsson
        signingkey = D6187A03A40A3D5662F54B4603EFBF839A5FDC15
[commit]
        gpgsign = true
[push]
        default = current
[color]
        ui = true
[core]
        editor = vim
[branch]
        autosetuprebase = always
