[user]
        email = me@hkjn.me
        name = Henrik Jonsson
        signingkey = D6187A03A40A3D5662F54B4603EFBF839A5FDC15
[commit]
        gpgsign = true
[push]
        default = current
[color]
        ui = true
[core]
        editor = vim
[branch]
        autosetuprebase = always
[alias]
        pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	refresh = "!r() { git fetch upstream && git merge upstream/master && git push; }; r"
        update = "!u() { git checkout master && git refresh && git checkout - && git rebase master; }; u"
[tag]
        forceSignAnnotated = true
