<html>
<body>
	<h1>Hello from <code>bcmon</code>!</h1>

	<p>This is an experiment with Bitcoin running at <code>ln.hkjn.me</code> by <a href="https://hkjn.me">hkjn</a>.</p>

	<p>This web server exists mainly to serve the <a href="/metrics">/metrics</a> endpoint for Prometheus to collect data
	for queries and graphs for Bitcoin metrics.</p>

	<p>You may also be interested in the <a href="https://ln.hkjn.me/">Prometheus dashboard</a> scraping data
	from this tool.</p>

	<h2><code>bitcoind</code> info</h2>
	{{ if .IsRunning -}}
	<p><code>bitcoind</code> is <strong>running</strong></p>
	{{ else }}
	<p><code>bitcoind</code> is <strong>not running</strong>.</p>
	{{- end }}

</body>
</html>
