[submodule "probes"]
	path = probes
	url = https://github.com/hkjn/probes
[submodule "prober"]
	path = prober
	url = https://github.com/hkjn/prober
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/hkjn/dashboard
[submodule "lnmon"]
	path = lnmon
	url = https://github.com/hkjn/lnmon
[submodule "tor-browser"]
	path = tor-browser
	url = https://github.com/hkjn/tor-browser
[submodule "hkjnweb"]
	path = hkjnweb
	url = https://github.com/hkjn/hkjnweb
