*filter
# Default policy is DROP; we need to explicitly allow any packets we
# do want.
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT DROP [0:0]
:inputdrop - [0:0]
:forwarddrop - [0:0]
:outputdrop - [0:0]

########################
### INPUT CHAIN      ###
########################

# Accept loopback packets.
-A INPUT -i lo -j ACCEPT

# Allow inbound TCP traffic to sshd port.
-A INPUT -p tcp --dport 22 -j ACCEPT
-A INPUT -p tcp --dport 8527 -j ACCEPT

# Allow inbound HTTP traffic.
-A INPUT -p tcp --dport 80 -j ACCEPT

# Allow inbound HTTPS traffic.
-A INPUT -p tcp --dport 443 -j ACCEPT

# Allow DHCP discovery.
-A INPUT -p udp --sport 67 --dport 68 -j ACCEPT
-A INPUT -p udp --sport 68 --dport 67 -j ACCEPT

# Allow mDNS.
-A INPUT -p udp --sport 5353 --dport 5353 -j ACCEPT

# Allow LLMNR:
# https://en.wikipedia.org/wiki/Link-Local_Multicast_Name_Resolution
-A INPUT -p igmp -d 224.0.0.1 -j ACCEPT

# Allow inbound TCP traffic to bitcoin port.
-A INPUT -p tcp --dport 8333 -j ACCEPT
-A INPUT -p tcp --dport 18333 -j ACCEPT

# Allow inbound TCP traffic to monero port.
-A INPUT -p tcp --dport 18080 -j ACCEPT

# Allow inbound TCP traffic to Tor port.
-A INPUT -p tcp --dport 9001 -j ACCEPT
-A INPUT -p tcp --sport 9001 -j ACCEPT

# Allow inbound ICMP type 0, 3 and 8 ("Echo Reply", "Destination
# Unreachable" and "Echo", i.e. ping).
# -A INPUT -p icmp -m icmp --icmp-type 0 -j ACCEPT
# -A INPUT -p icmp -m icmp --icmp-type 3 -j ACCEPT
# -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Explicitly whitelist established / related connections. This is a
# last-ditch safeguard to avoid locking yourself out if a too-restrictive
# rule would be applied - your current SSH connections will remain,
# giving you one last chance so you can fix the issue.
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# Anything making it here is not allowed; send it to logging chain.
# Dropped packets can be checked with `journalctl -k | grep "IN=.*OUT=.*"`
-A INPUT -j inputdrop

########################
### OUTPUT CHAIN     ###
########################

# Allow local connections.
-A OUTPUT -m tcp -p tcp -o lo -j ACCEPT
-A OUTPUT -m udp -p udp -o lo -j ACCEPT

# Allow outbound HTTP / HTTPS.
-A OUTPUT -p tcp -m tcp --dport 80 -j ACCEPT
-A OUTPUT -p tcp -m tcp --dport 443 -j ACCEPT

# Allow DHCP lookups.
-A OUTPUT -p udp --sport 67 --dport 68 -j ACCEPT
-A OUTPUT -p udp --sport 68 --dport 67 -j ACCEPT

# Allow DNS lookups.
-A OUTPUT -p udp -m udp --dport 53 -j ACCEPT
-A OUTPUT -p tcp -m tcp --dport 53 -j ACCEPT

-A OUTPUT -p udp --dport 1337 -j ACCEPT
-A OUTPUT -p udp --dport 6969 -j ACCEPT

# Allow mDNS.
-A OUTPUT -p udp --sport 5353 --dport 5353 -j ACCEPT
-A OUTPUT -p tcp --dport 5353 -j ACCEPT

# Allow outbound LLMNR and IGMP multicast:
#   https://en.wikipedia.org/wiki/Link-Local_Multicast_Name_Resolution
#   https://en.wikipedia.org/wiki/Multicast_address
-A OUTPUT -p udp -d 224.0.0.252 --sport 5355 --dport 5355 -j ACCEPT
-A OUTPUT -p igmp -d 224.0.0.22 -j ACCEPT

# Allow NTP lookups.
-A OUTPUT -p udp -m udp --dport 123 -j ACCEPT

# Allow ICMP type 0 and 8 ("Echo Reply" and "Echo", i.e. ping).
-A OUTPUT -p icmp -m icmp --icmp-type 0 -j ACCEPT
-A OUTPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT

# Allow outbound TCP traffic to sshd port.
-A OUTPUT -p tcp --dport 22 -j ACCEPT
-A OUTPUT -p tcp --dport 8527 -j ACCEPT
# Allow outbound TCP traffic from sshd port.
-A OUTPUT -p tcp --sport 22 -j ACCEPT
-A OUTPUT -p tcp --sport 8527 -j ACCEPT

# Allow outbound lightning traffic.
-A OUTPUT -p tcp --dport 9735 -j ACCEPT
-A OUTPUT -p tcp --dport 9736 -j ACCEPT

# Allow outbound torrent DHT traffic.
-A OUTPUT -p tcp --dport 6881 -j ACCEPT

# Allow outbound torrent traffic to trackers.
-A OUTPUT -p tcp --dport 6889 -j ACCEPT

# Following lists observed attempted traffic from unknown services
# that ends up being blocked by virtue of not being whitelisted:
# -A OUTPUT -p tcp --dport 1 -j ACCEPT
# -A OUTPUT -p tcp --dport 1900 -j ACCEPT
# -A OUTPUT -p tcp --dport 5516 -j ACCEPT
# -A OUTPUT -p tcp --dport 6882 -j ACCEPT
# -A OUTPUT -p tcp --dport 8999 -j ACCEPT
# -A OUTPUT -p tcp --dport 11975 -j ACCEPT
# Connection attempts below might be random high-level ports from
# same process?
# -A OUTPUT -p tcp --dport 13938 -j ACCEPT
# -A OUTPUT -p tcp --dport 15570 -j ACCEPT
# -A OUTPUT -p tcp --dport 15675 -j ACCEPT
# -A OUTPUT -p tcp --dport 18446 -j ACCEPT
# -A OUTPUT -p tcp --dport 18359 -j ACCEPT
# -A OUTPUT -p tcp --dport 19664 -j ACCEPT
# -A OUTPUT -p tcp --dport 20089 -j ACCEPT
# -A OUTPUT -p tcp --dport 20294 -j ACCEPT
# -A OUTPUT -p tcp --dport 22236 -j ACCEPT
# -A OUTPUT -p tcp --dport 24346 -j ACCEPT
# -A OUTPUT -p tcp --dport 26621 -j ACCEPT
# -A OUTPUT -p tcp --dport 27287 -j ACCEPT
# -A OUTPUT -p tcp --dport 27876 -j ACCEPT
# -A OUTPUT -p tcp --dport 28245 -j ACCEPT
# -A OUTPUT -p tcp --dport 28729 -j ACCEPT
# -A OUTPUT -p tcp --dport 33755 -j ACCEPT
# -A OUTPUT -p tcp --dport 37939 -j ACCEPT
# -A OUTPUT -p tcp --dport 38848 -j ACCEPT
# -A OUTPUT -p tcp --dport 38856 -j ACCEPT
# -A OUTPUT -p tcp --dport 41247 -j ACCEPT
# -A OUTPUT -p tcp --dport 41521 -j ACCEPT
# -A OUTPUT -p tcp --dport 45390 -j ACCEPT
# -A OUTPUT -p tcp --dport 46081 -j ACCEPT
# -A OUTPUT -p tcp --dport 46319 -j ACCEPT
# -A OUTPUT -p tcp --dport 47100 -j ACCEPT
# -A OUTPUT -p tcp --dport 50231 -j ACCEPT
# -A OUTPUT -p tcp --dport 51044 -j ACCEPT
# -A OUTPUT -p tcp --dport 51413 -j ACCEPT
# -A OUTPUT -p tcp --dport 52410 -j ACCEPT
# -A OUTPUT -p tcp --dport 52522 -j ACCEPT
# -A OUTPUT -p tcp --dport 53617 -j ACCEPT
# -A OUTPUT -p tcp --dport 53517 -j ACCEPT
# -A OUTPUT -p tcp --dport 55130 -j ACCEPT
# -A OUTPUT -p tcp --dport 55528 -j ACCEPT
# -A OUTPUT -p tcp --dport 55688 -j ACCEPT
# -A OUTPUT -p tcp --dport 57219 -j ACCEPT
# -A OUTPUT -p tcp --dport 57501 -j ACCEPT
# -A OUTPUT -p tcp --dport 58106 -j ACCEPT
# -A OUTPUT -p tcp --dport 60016 -j ACCEPT
# -A OUTPUT -p tcp --dport 61246 -j ACCEPT
# -A OUTPUT -p tcp --dport 62665 -j ACCEPT

# Following comments explain some commonly seen traffic that
# ends up being blocked by virtue of not being whitelisted:
#
# Do not allow Microsoft SSDP:
#   https://www.speedguide.net/port.php?port=1900
# -A OUTPUT -p tcp --dport 1900 -j ACCEPT

# Allow outbound TCP traffic to Tor ports.
-A OUTPUT -p tcp --dport 9001 -j ACCEPT
-A OUTPUT -p tcp --dport 9090 -j ACCEPT

# Allow outbound TCP traffic from/to monero port.
-A OUTPUT -p tcp --sport 18080 -j ACCEPT
-A OUTPUT -p tcp --dport 18080 -j ACCEPT

# Explicitly whitelist established / related connections. This is a
# last-ditch safeguard to avoid locking yourself out if a too-restrictive
# rule would be applied - your current SSH connections will remain,
# giving you one last chance so you can fix the issue.
-A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT

# Anything making it here is not allowed; send it to logging chain.
# Dropped packets can be checked with `journalctl -k | grep "IN=.*OUT=.*"`
-A OUTPUT -j outputdrop


# Configure 'drop' chains, which just jump to LOG -> DROP.
#
# View logs with:
#   journalctl -k -f | grep "IN=.*OUT=.*"
#
-A forwarddrop -m limit --limit 2/min -j LOG --log-prefix "[FORWARD] IPTables-Dropped: "
-A forwarddrop -j DROP
-A inputdrop -m limit --limit 2/min -j LOG --log-prefix "[INPUT] IPTables-Dropped: "
-A inputdrop -j DROP
-A outputdrop -m limit --limit 2/min -j LOG --log-prefix "[OUTPUT] IPTables-Dropped: "
-A outputdrop -j DROP
COMMIT

*nat
:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
COMMIT
