{{/* base.tmpl; base template that everything else depends on */}}
{{define "base"}}
<!DOCTYPE html>
<html>
<head>
  {{template "head" .Title}}
</head>
<body>
  {{template "base_header" .}}
  {{template "main" .}}
  {{template "js" .}}
</body>
</html>
{{end}}
