{{/* base_header.tmpl; header contents for base template */}}
{{define "base_header"}}
<header id="base_header">
<h1 id="header_link"><a href="/">Henrik Jonsson</a></h1>
<nav role="navigation" id="mainnav">
<ul>
<li><a href="/links">Links</a></li>
<li><a href="/meta">Meta</a></li>
</ul>
</nav>
</header>
{{end}}
