{{/* blog.tmpl; a simple blog template */}}
{{define "main"}}
<article>
<header>
<h1 class="article_title"><a href="{{.URI}}">
  {{template "post_title" .}}
</a></h1>
<time datetime="{{.Date.Year}}-{{.Date.Month | printf "%.2d"}}">
  <em id="post_date">Posted <a href="/{{.Date.Year}}/{{.Date.Month | printf "%.2d"}}">{{.Date.Month}}</a>, <a href="/{{.Date.Year}}">{{.Date.Year}}</a></em>
</time>
</header>
  {{template "post_content"}}
</article>
{{end}}
