{{/* page.tmpl; a simple article template */}}
{{define "main"}}
<article>
<header>
<h1 class="article_title"><a href="{{.URI}}">
  {{template "page_title" .}}
</a></h1>
</header>
  {{template "page_content" .}}
</article>
{{end}}
