{{/* style.tmpl; main CSS stylesheet */}}
{{define "style"}}
body {
  background-color: white;
  font-family: 'PT Serif', Georgia, Times, 'Times New Roman', serif;
  width: 65%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}

header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

header#base_header {
  width: 70%;
  border-bottom: medium black solid;
}

header a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

article pre {
  margin: 0 0 0 2em;
}

nav#mainnav ul {
  list-style: none;
}

nav#mainnav li {
  display: inline;
  padding-right: 2em;
  font-size: 125%;
}

h1.article_title {
  font-size: 2em;
  margin-bottom: 0.25em;
}

h1#header_link {
  font-size: 3.5em;
  font-weight: 150;
  margin-bottom: 0;
}

em#post_date, em#post_date a {
  color: #777;
}

em#post_date a:hover {
  color: #333;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.15em;
}

h4 {
  font-size: 1.05em;
  font-style: italic;
}

a, a:visited {
  color: black;
}

header a:hover, a:hover {
  color: #777;
}

ul.quote {
  font-size: 0.8em;
  list-style: none;
}

{{end}}
