[Unit]
Description=Monitoring dashboard
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker stop dashboard
ExecStartPre=-/usr/bin/docker rm dashboard
ExecStart=/bin/bash -c " \
  docker run --rm --name dashboard \
             -p 8080:8080 \
             -e DASHBOARD_HTTP_PREFIX=/dash \
             --env-file=/etc/dashboard/dashboard.env \
             -e DASHBOARD_VERSION=0.1.1 \
             hkjn/dashboard:0.1.1"
Restart=always

[Install]
WantedBy=network-online.target

