#
# This is a systemd service for dashboard, which should be copied
# to /lib/systemd/system/ to run the monitoring dashboard under systemd.
#
# After that, we can use systemctl commands like
# "systemctl status dashboard" and "systemctl start dashboard" to interact
# with systemd.
#
[Unit]
Description=Monitoring dashboard
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker stop mon
ExecStartPre=-/usr/bin/docker rm mon
ExecStart=/bin/bash -c " \
  docker run --rm --name mon -p 80:8080 \
             --env-file=/etc/dashboard/dashboard.env \
             --env-file=/etc/dashboard/version.env \
             hkjn/dashboard:$(uname -m)"
Restart=always

[Install]
WantedBy=network-online.target

