[Unit]
Description=Prometheus monitoring service
After=network-online.target

[Service]
WorkingDirectory=/etc/prometheus
EnvFile=/etc/prometheus/prometheus.env
ExecStart=/bin/bash /etc/prometheus/prometheus ${PROMETHEUS_ARGS}
# --web.external-url=https://mon.hkjn.me/ln
Restart=always

[Install]
WantedBy=network-online.target


