[Unit]
Description=Prometheus monitoring service
After=network-online.target

[Service]
WorkingDirectory=/etc/prometheus
ExecStart=/etc/prometheus/prometheus --web.external-url=https://mon.hkjn.me/ln
Restart=always

[Install]
WantedBy=network-online.target


