static.hkjn.me {
  root /var/www/static.hkjn.me
  gzip
  log    /var/log/static.hkjn.me.access.log
}

mon.hkjn.me {
  push
  redir 302 {
    if {path} is /
    / /ln/consoles/index.html
  }
  log    /var/log/mon.hkjn.me.access.log
  proxy  /dash 127.0.0.1:8080
  proxy  /ln   127.0.0.1:9090
  proxy /lnmon 163.172.162.18:8380
}
