{{/* prober.tmpl: shows probe results */}}
{{define "prober"}}
<h1>Probe results</h1>
<a href="#" class="show hidden">Show probe results</a>
<a href="#" class="hide">Hide probe results</a>
<div id="probe_info">
{{range $i, $p := .}}
<h2><a href="#{{$p.Name}}">{{$p.Name}}</a></h2>
<a name="{{$p.Name}}" />
{{if $p.Disabled}}
<p class="bad">Disabled</p>
{{else}}
<p>{{$p.Desc}}</p>
<h3 {{with $p.IsAlerting}}class="bad"{{end}}>Badness: {{$p.Badness}}</h3>
{{range $j, $r := $p.Records }}
{{if $r.Result.Passed}}
<div class="probe_result good">
	<strong title="{{$r.Timestamp}} ({{$r.Ago}})">✓</strong>
</div>
{{else}}
<div class="probe_result bad">
	<strong title="{{$r.Timestamp}} ({{$r.Ago}})">x</strong>
</div>
{{end}}
{{end}}
<br class="fixfloat" />
{{with $p.Records.RecentFailures}}
<h3>Recent {{$p.Name}} failures</h3>
	{{range $i, $r := .}}
	<div class="probe_failure">
		<h3>{{$r.Timestamp}} ({{$r.Ago}})</h3>
		<p>{{$r.Result.Info}}</p>
	</div>
	{{end}}
{{end}}
{{end}}
{{end}}

</div>

{{end}}
