{{define "scripts"}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function init() {
  $(".hidden").hide();
  $(".show").click(function() {
    $(this).hide().next().show().next().show()
  });
  $(".hide").click(function() {
    $(this).hide().prev().show();
    $(this).next().hide()
  });
}

$(document).ready(function() {
  init();
});
</script>
{{end}}
