{{ template "head" . }}

{{ template "prom_content_head" . }}

<h1>lnmon</h1>

{{ with .Params.node_id }}
<p>Viewing node
{{ with printf "job_lightningd:aliases:sum{node_id='%s'}" . | query }}
	{{ range . }}
	<code>{{ .Labels.alias }}</code>
	{{ end }}
{{ end }}
: <code>{{ . }}</code>.
</p>

<p>Clear view <a href="?">here</a>.</p>
{{ end }}

<h2>Channels</h2>

<p>Number of channels in each state:</p>

{{template "prom_right_table_head"}}
	<tr>
		<th>State</th>
		<th>Number</th>
	</tr>
	{{ range query "lightningd_our_channels" }}
	<tr>
		<td>
			<code>{{ .Labels.state }}</code>
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
{{ end }}
{{template "prom_right_table_tail"}}

<h3>Total number of channels by state</h3>
<div id="ourChannelsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#ourChannelsGraph"),
    expr: 'lightningd_our_channels',
    renderer: "area",
    min: 0.0
});
</script>

<h3>Capacity of our channels</h3>

<div id="channelCapacityGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelCapacityGraph"),
    expr: 'job_lightningd:channel_capacities_normal_btc:sum{{ with .Params.node_id }}{node_id="{{ . }}"} {{ end }}',
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Capacity",
    min: 0.0
});
</script>

{{template "prom_right_table_head"}}
	<tr>
		<th>Node id</th>
		<th>Capacity (BTC)</th>
	</tr>
	{{ range query "job_lightningd:channel_capacities_normal_btc:sum" }}
	<tr>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
{{ end }}
{{template "prom_right_table_tail"}}

<h3>Balance of our inbound normal channels</h3>

<div id="channelToUsBalanceGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelToUsBalanceGraph"),
    {{ with .Params.node_id }}
    expr: 'job_lightningd:channel_balances_normal_btc:sum{direction="to_us",node_id="{{ . }}"}',
    {{ else}}
    expr: 'job_lightningd:channel_balances_normal_btc:sum{direction="to_us"}',
    {{ end }}
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Balance",
    min: 0.0
});
</script>

{{template "prom_right_table_head"}}
	<tr>
		<th>Balance</th>
		<th>Node id</th>
	</tr>
	{{ range query "job_lightningd:channel_balances_normal_btc:sum{direction='to_us'}" }}
	<tr>
		<td>
			{{ .Value }} BTC
		</td>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
	</tr>
{{ end }}
{{template "prom_right_table_tail"}}

<h3>Balance of our outbound normal channels</h3>

<div id="channelToThemBalanceGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelToThemBalanceGraph"),
    {{ with .Params.node_id }}
    expr: 'job_lightningd:channel_balances_normal_btc:sum{direction="to_them",node_id="{{ . }}"}',
    {{ else}}
    expr: 'job_lightningd:channel_balances_normal_btc:sum{direction="to_them"}',
    {{ end }}
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Balance",
    min: 0.0
});
</script>

{{template "prom_right_table_head"}}
	<tr>
		<th>Balance</th>
		<th>Node id</th>
	</tr>
	{{ range query "job_lightningd:channel_balances_normal_btc:sum{direction='to_them'}" }}
	<tr>
		<td>
			{{ .Value }} BTC
		</td>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
	</tr>
	{{ end }}
{{template "prom_right_table_tail"}}

<h3>Funds available to open channels</h3>
<div id="fundsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#fundsGraph"),
    expr: 'job_lightningd:total_funds_btc',
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Funds",
    min: 0.0
});
</script>

<h3>Number of channels on the network</h3>
<div id="numChannelsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numChannelsGraph"),
    expr: "job_lightningd:num_channels:sum",
    renderer: "area",
    min: 0.0,
    yTitle: "Number of channels"
});
</script>

<h2>Nodes</h2>

<h3>Number of peers</h3>
<div id="numPeersGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numPeersGraph"),
    expr: "lightningd_num_peers",
    renderer: "area",
    min: 0.0
});
</script>

<h3>Number of total known nodes on the network</h3>
<div id="numNodesGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numNodesGraph"),
    expr: "job_lightningd:num_nodes:sum",
    renderer: "area",
    min: 0.0
});
</script>

<h1>Process info for <code>lightningd</code></h1>

<h2>Virtual memory usage</h2>
<div id="virtualMemoryGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#virtualMemoryGraph"),
    expr: 'pid_process_virtual_memory_bytes{job="lnmon"}',
    renderer: "area",
    min: 0.0
});
</script>

<h2>Resident memory</h2>
<div id="residentMemoryGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#residentMemoryGraph"),
    expr: 'pid_process_resident_memory_bytes{job="lnmon"}',
    renderer: "area",
    min: 0.0
});
</script>

<h2>Rate of CPU usage</h2>
<div id="cpuUsageRateGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#cpuUsageRateGraph"),
    expr: 'rate(pid_process_cpu_seconds_total{job="lnmon"}[5m])',
    renderer: "area",
    min: 0.0
});
</script>

<h2>Number of open file descriptors</h2>
<div id="openFdsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#openFdsGraph"),
    expr: 'pid_process_open_fds{job="lnmon"}',
    renderer: "area",
    min: 0.0
});
</script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
