{{ template "head" . }}

<style>

table.breakdown {
	margin-top: 1em;
}

table.breakdown td, table.breakdown th {
	border: 1px solid #ddd;
	padding: 8px;
}

table.breakdown tr:nth-child(even) {
	background-color: #eee;
}

table.breakdown th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}
</style>

{{ template "prom_right_table_head" }}
{{ template "prom_right_table_tail" }}
{{ template "prom_content_head" . }}

<h1>lnmon</h1>

<p>Welcome to a monitoring tool developed by <a href="https://hkjn.me">hkjn</a>.</p>

<p>This dashboard shows information about the state of a Lightning Network node running
<a href="https://github.com/ElementsProject/lightning">c-lightning</a>, to make it
easier to see what's going on with the node and learn about the technology.</p>

<p>Donate using LN:
<form id="lndonate" action="/lnmon/cmd/invoice" method="POST">
	Amount: <input type="number" class="amount" name="amount">
	<input type="submit" value="Submit">
</form>
<textarea id="donate_info"></textarea>
</p>

{{ with .Params.node_id }}
<h2>Viewing only node
{{ with printf "job_lightningd:aliases:sum{node_id='%s'}" . | query }}
	{{ range . }}
	<code>{{ .Labels.alias }}</code>
	{{ end }}
{{ end }}
</h2>

<p>Viewing node with id <code>{{ . }}</code>.</p>

<p>View all nodes <a href="?">here</a>.</p>

{{ end }}

<h1>Network info</h1>

<h2>Total channels</h2>
<div id="numChannelsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numChannelsGraph"),
    expr: "lightningd_num_channels",
    colorScheme: "spectrum14",
    name: "Number of channels",
    renderer: "area",
    min: 0.0,
    yTitle: "Number of channels"
});
</script>

<h2>Total nodes</h2>
<div id="numNodesGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numNodesGraph"),
    colorScheme: "spectrum14",
    expr: "lightningd_num_nodes",
    name: "Number of total nodes",
    renderer: "area",
    min: 0.0
});
</script>

<h1>Node info</h1>

<h2>Blockheight</h2>
<div id="blockheightGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#blockheightGraph"),
    expr: "lightningd_blockheight",
    colorScheme: "spectrum14",
    name: "Blockheight",
    yTitle: "Blockheight"
});
</script>

<h2>Nodes</h2>

<h3>Number of peers</h3>
<div id="numPeersGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#numPeersGraph"),
    colorScheme: "spectrum14",
    expr: "lightningd_num_peers",
    renderer: "area",
    min: 0.0
});
</script>

<h2>Channels</h2>

<p>This graph shows the number of channels to and from our node that are in each state.</p>
<div id="ourChannelsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#ourChannelsGraph"),
    expr: 'lightningd_our_channels',
    colorScheme: "spectrum14",
    name: "[[ state ]]",
    renderer: "area",
    min: 0.0
});
</script>

<h3>Capacity of our channels</h3>

<h4>Normal channels</h4>

<p>This graph shows the capacity (amount of funds that could be sent + received) for all channels in
normal state (<code>CHANNELD_NORMAL</code>).</p>
<div id="channelCapacityNormalGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelCapacityNormalGraph"),
    {{ with .Params.node_id }}
    expr: 'lightningd_channel_capacities_msatoshi{node_id="{{ . }}",state="CHANNELD_NORMAL"}/100000000000',
    {{ else }}
    expr: 'lightningd_channel_capacities_msatoshi{state="CHANNELD_NORMAL"}/100000000000',
    {{ end }}
    colorScheme: "spectrum14",
    name: "[[ node_id ]]",
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Capacity",
    min: 0.0
});
</script>

<table class="breakdown">
	<tr>
		<th>Node id</th>
		<th>Capacity (BTC)</th>
	</tr>
	{{ range query "sort_desc(lightningd_channel_capacities_msatoshi{state='CHANNELD_NORMAL'})/100000000000" }}
	<tr>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
{{ end }}
</table>

<h4>Other channels</h4>

<p>This graph shows the capacity (amount of funds that could be sent + received) for all channels in
non-normal states (i.e. not <code>CHANNELD_NORMAL</code>).</p>
<div id="channelCapacityAbnormalGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelCapacityAbnormalGraph"),
    {{ with .Params.node_id }}
    expr: 'lightningd_channel_capacities_msatoshi{node_id="{{ . }}",state!="CHANNELD_NORMAL"}/100000000000',
    {{ else }}
    expr: 'lightningd_channel_capacities_msatoshi{state!="CHANNELD_NORMAL"}/100000000000',
    {{ end }}
    colorScheme: "spectrum14",
    name: "[[ state ]]: [[ node_id ]]",
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Capacity",
    min: 0.0
});
</script>

<table class="breakdown">
	<tr>
		<th>Node id</th>
		<th>State</th>
		<th>Capacity (BTC)</th>
	</tr>
	{{ range query "sort_desc(lightningd_channel_capacities_msatoshi{state!='CHANNELD_NORMAL'})/100000000000" }}
	<tr>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
		<td>
			{{ .Labels.state }}
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
{{ end }}
</table>

<h3>Balance on our side of channels</h3>

<p>This graph shows the balance committed to us in our channels, i.e. funds we
could send to others if we wanted to.</p>

<div id="channelToUsBalanceGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelToUsBalanceGraph"),
    {{ with .Params.node_id }}
    expr: 'sum(lightningd_channel_balances_msatoshi{direction="to_us",node_id="{{ . }}"}) by (state, direction, node_id)/100000000000',
    {{ else}}
    expr: 'sum(lightningd_channel_balances_msatoshi{direction="to_us"}) by (state, direction, node_id)/100000000000',
    {{ end }}
    colorScheme: "spectrum14",
    name: "[[ state ]]: [[ node_id ]]",
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Balance",
    min: 0.0
});
</script>

<table class="breakdown">
	<tr>
		<th>Node id</th>
		<th>State</th>
		<th>Balance (BTC)</th>
	</tr>
	{{ range query "sort_desc(sum(lightningd_channel_balances_msatoshi{direction='to_us'}) by (state, direction, node_id)/100000000000)" }}
	<tr>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
		<td>
			{{ .Labels.state }}
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
{{ end }}
</table>

<h3>Balance on their side of channels</h3>

<p>This graph shows the balance committed to them in our channels, i.e. funds
that could be sent to us if the other node wanted to.</p>

<div id="channelToThemBalanceGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#channelToThemBalanceGraph"),
    {{ with .Params.node_id }}
    expr: 'sum(lightningd_channel_balances_msatoshi{direction="to_them",node_id="{{ . }}"}) by (state, direction, node_id)/100000000000',
    {{ else}}
    expr: 'sum(lightningd_channel_balances_msatoshi{direction="to_them"}) by (state, direction, node_id)/100000000000',
    {{ end }}
    colorScheme: "spectrum14",
    name: "[[ state ]]: [[ node_id ]]",
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Balance",
    min: 0.0
});
</script>

<table class="breakdown">
	<tr>
		<th>Node id</th>
		<th>State</th>
		<th>Balance (BTC)</th>
	</tr>
	{{ range query "sort_desc(sum(lightningd_channel_balances_msatoshi{direction='to_them'}) by (state, direction, node_id)/100000000000)" }}
	<tr>
		<td>
			<code><a href="?node_id={{ .Labels.node_id }}">{{ .Labels.node_id }}</a></code>
		</td>
		<td>
			{{ .Labels.state }}
		</td>
		<td>
			{{ .Value }}
		</td>
	</tr>
	{{ end }}
</table>

<h3>Funds available to open channels</h3>

<div id="fundsGraph"></div>
<script>
new PromConsole.Graph({
    node: document.querySelector("#fundsGraph"),
    expr: 'sum(lightningd_total_funds)/100000000',
    colorScheme: "spectrum14",
    name: "Funds",
    renderer: "area",
    yUnits: "BTC",
    yTitle: "Funds",
    min: 0.0
});
</script>

<script src="https://static.hkjn.me/jquery-3.3.1.min.js" defer></script>
<script>
$(document).ready(function() {
	$("#donate_info").hide();
	$("#lndonate").submit(function(event) {
		event.preventDefault();
		var amount=parseInt($("#lndonate > input.amount").val(), 10);
		var action=$("#lndonate").attr("action");
		console.log("Should submit request to with amount=" + amount + " to " + action);
		$.ajax({
			contentType: 'application/json',
			data: JSON.stringify({
				"msatoshi": amount,
				"label": "donation_" + Date.now(),
				"description": "Test tx / donation"
			}),
			dataType: 'text',
			complete: function(xhr, desc) {
				console.log("/cmd/invoice request complete with status " + xhr.status, ", desc " + desc);
				if (xhr.status == 200 && desc === 'success') {
					console.log("invoice created: " + xhr);
					var bolt11 = xhr.responseText;
					$("#lndonate").hide();
					$("#donate_info").show().text(bolt11);
				} else {
					console.log("Failed to generate invoice.");
					$("#donate_info").show().text("Failed to generate invoice; got status " + xhr.status + ": " + desc)
				}
			},
			processData: false,
			type: 'POST',
			url: action
		});
	});
});
</script>

{{ template "prom_content_tail" . }}

{{ template "tail" }}
