{{/* index.tmpl; index for hkjn.me */}}
{{define "page_title"}}
About me
{{end}}

{{define "page_content"}}

<p>I like efficiency.</p>

<p>When things are broken, that wastes time, so I try to push such 
systems towards simplicity any way I can.</p>

<p>I like computers to tell me what I need to know, like that I 
just broke something, rather than needing to search for answers.</p>

<p>I realize working in technology still is all about solving problems for
people, using systems and processes made by people.</p>

<p>I believe in optimizing processes and solid engineering as a good
way to spend our time, over pushing for getting things done the &ldquo;quick
and dirty way&rdquo;.</p>

<p>I'm all about the idea of building large complex systems that are still
reliable and fast by composing together small simple pieces that make sense
individually.</p>

<p>The possibility of building decentralized, permissionless systems to do
things where we earlier needed large organizations intrigues me, and I
want to see where that will lead.</p>

<p>I've been following Bitcoin for some years, and as of Oct 2017 I am spending
all my time learning about this technology. I'd like to continue learning about
the fundamentals and finding how to best help educate others and otherwise
contribute, so I'm not currently interested in traditional opportunities. I am
open to teaching or otherwise helping educate others in exchange for bitcoin
however.
</p>

{{end}}
