{{define "page_title"}}
Links
{{end}}

{{define "page_content"}}
<h1><a href="#contact" id="contact">Contact info</a></h1>
<p>Here's various methods of reaching me:</p>
<ul>
<li>Email: <a href="mailto:me@hkjn.me">me@hkjn.me</a></li>
<li>Twitter: <a href="https://twitter.com/hkjn" target="_blank">twitter.com/hkjn</a></li>
<li>GitHub: <a href="https://github.com/hkjn" target="_blank">github.com/hkjn</a></li>
<li>LinkedIn: <a href="https://linkedin.com/in/hekjon" target="_blank">linkedin.com/in/hekjon</a></li>
<li>Facebook: <a href="https://facebook.com/hekjon" target="_blank">facebook.com/hekjon</a></li>
</ul>
</p>

<h1><a href="#misc" id="misc">Miscellaneuous</a></h1>
<ul>
<li>PGP key: <a href="/static/pub.asc" target="_blank">/static/pub.asc</a></li>
</ul>
{{end}}
