{{define "page_title"}}
Meta
{{end}}

{{define "page_content"}}
<p>This part of the website is about the website:</p>
<ul>
<li>Source: <a href="https://github.com/hkjn/hkjnweb" target="_blank">https://github.com/hkjn/hkjnweb</a></li>
<li>Description of the framework used on this site: <a href="/autosite_tools">/autosite_tools</a></li>
<li>Syntax highlighting of code: <a href="http://prismjs.com/" target="_blank">prismjs.com</a></li>
</ul>
{{end}}
