[Unit]
Description=Bitcoin Core service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/bitcoin/bitcoin.env
ExecStartPre=-/bin/bash -c "docker pull $IMAGE"
ExecStartPre=-/usr/bin/docker stop bitcoin
ExecStartPre=-/usr/bin/docker rm bitcoin
TimeoutStartSec=1000
ExecStart=/bin/bash -c "docker run --rm \
    --name bitcoin \
    --memory 400m \
    --network bitcoin-net \
    --entrypoint bitcoind \
    -p 8332-8333:8332-8333 \
    -v /crypt/bitcoin:/home/bitcoin/.bitcoin \
    $IMAGE"
ExecStop=-/usr/bin/docker rm -f bitcoin
TimeoutStopSec=1000
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
