[Unit]
Description=bitcoind + clightning
After=network-online.target

[Service]
ExecStartPre=-/usr/bin/docker pull hkjn/clightning:hack
ExecStartPre=-/usr/bin/docker stop bitcoin-ln
ExecStartPre=-/usr/bin/docker rm bitcoin-ln
TimeoutStartSec=10000
ExecStart=/bin/bash -c " \
  docker run --name bitcoin-ln \
             -p 8380:8380 \
             -p 9740:9740 \
             -p 8332:8332 \
             -p 8333:8333 \
             -p 9735:9735 \
             -v /etc/secrets/acme:/etc/secrets/acme \
             -v /crypt/bitcoin:/home/bitcoin/.bitcoin \
             -v /crypt/lightning:/home/bitcoin/.lightning \
             hkjn/clightning:hack -dbcache=800 -onlynet=ipv4 -printtoconsole"
TimeoutStopSec=1000
Restart=always

[Install]
WantedBy=multi-user.target
