[Unit]
Description=Lightning Network c-lightning
After=bitcoin.service
Requires=bitcoin.service

[Service]
EnvironmentFile=/etc/bitcoin/bitcoin.env
EnvironmentFile=/etc/ln/ln.env
ExecStartPre=-/usr/bin/docker stop ln
ExecStartPre=-/usr/bin/docker rm ln
ExecStart=/bin/bash -c "docker run --rm \
    --name ln \
    -p 9735:9735 \
    --memory=200m \
    --network bitcoin-net \
    --entrypoint lightningd \
    -v /crypt/bitcoin:/home/bitcoin/.bitcoin:ro \
    -v /crypt/lightning:/home/bitcoin/.lightning \
    ${IMAGE} \
      --network=bitcoin \
      --log-level=${LN_LOG_LEVEL} \
      --alias=${LN_ALIAS} \
     --rgb=${LN_RGB}"
ExecStop=-/usr/bin/docker rm -f ln
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
