[Unit]
Description=Lightning Network c-lightning
After=docker.service
Requires=docker.service

[Service]
# EnvironmentFile=/etc/lnmon/lnmon.env
# TODO: make use of .env file
ExecStart=/bin/bash -c "docker run --rm \
    --name ln \
    -p 9735:9735 \
    --memory=100m \
    --network bitcoin-net \
    --entrypoint lightningd \
    -v /crypt/bitcoin:/home/bitcoin/.bitcoin:ro \
    -v /crypt/lightning:/home/bitcoin/.lightning \
    hkjn/bitcoin:ln-2018-04-11-arm \
      --network=bitcoin \
      --log-level=debug \
      --alias=ln.hkjn.me \
      --rgb=112233"
Restart=always

[Install]
WantedBy=multi-user.target
