[Unit]
Description=lnmon monitoring service
After=ln.service
Wants=ln.service

[Service]
EnvironmentFile=/etc/bitcoin/bitcoin.env
ExecStartPre=-/usr/bin/docker stop lnmon
ExecStartPre=-/usr/bin/docker rm lnmon
ExecStart=/bin/bash -c "docker run --rm \
    --name lnmon \
    --pid container:ln \
    -p 8380:8380 \
    --memory=75m \
    --network bitcoin-net \
    --entrypoint /etc/bins/lnmon \
    -v /etc/bins:/etc/bins:ro \
    -v /crypt/lightning:/home/bitcoin/.lightning:ro \
    ${IMAGE}"
ExecStop=-/usr/bin/docker rm -f lnmon
RestartSec=30s
Restart=always

[Install]
WantedBy=multi-user.target
