<html>
<body>
<h1>Hello!</h1>
<p>This is an experiment with Bitcoin and Lightning Network running at <code>ln.hkjn.me</code> by <a href="https://hkjn.me">hkjn</a>.</p>

<p>The purpose is to learn more about the inner workings of Bitcoin and the LN by making it easier to operate
these daemons, and easier to observe what they're doing.</p>

<p>You may also be interested in the <a href="https://mon.hkjn.me/ln/consoles/index.html.example">Prometheus dashboard</a> scraping data
from this tool.</p>

<h2><code>lightningd</code> info</h2>
{{ if .IsRunning -}}
<p><code>lightningd</code> is <strong>running</strong></p>
<p>Our id is <code>{{ .Info.NodeId}}</code>.</p>
{{ with .Alias -}}
<p>Our alias is <code>{{ . }}</code>.</p>
{{ else }}
<p>Unknown alias for our own node.</p>
{{- end }}
<p>Our address is is <code>{{ .Info.Address }}</code>.</p>
<p>Our version is is <code>{{ .Info.Version }}</code>.</p>
<p>Our blockheight is is <code>{{ .Info.Blockheight }}</code>.</p>
<p>We know of {{ len .Nodes }} nodes in total.</p>
<p>We know of {{ len .Channels }} channels in total.</p>
<p>We know of {{ len .Nodes.Peers }} nodes that are our peers.</p>

<h3>Peers</h3>

<table>
	<tr>
		<th>Id</th>
		<th>Alias</th>
		<th>Last seen</th>
		<th>Channel state</th>
		<th>Funds to us</th>
		<th>Funds to them</th>
	</tr>
	{{ range .Nodes.Peers -}}
	<tr>
		<td><code>{{ .NodeId.Short }}</code></td>
		<td>{{ .Alias }}</td>
		<td>{{ .LastTimestamp.Since }}</td>
		<td><code>{{ .Channels.State }}</code></td>
		<td>{{ if .Channels }} {{ .Channels.MilliSatoshiToUs.AsBTC }} {{ end }}</td>
		<td>{{ if .Channels }} {{ .Channels.MilliSatoshiToThem.AsBTC }} {{ end }}</td>
	</tr>
	{{- end }}
</table>

<ul>
</ul>

{{ else }}
<p><code>lightningd</code> is <strong>not running</strong>.</p>
{{- end }}

</body>
</html>
