<html>
<body>
<h1>Hello!</h1>
<p>This is an experiment running at ln.hkjn.me with Lightning Network and Bitcoin by <a href="https://hkjn.me">hkjn</a>.</p>

<p>You might be interested in the <a href="http://mon.hkjn.me:9090/consoles/index.html">Prometheus dashboard</a> scraping data
from this tool.</p>

<h2><code>bitcoind</code> info</h2>
{{ if .Bitcoind.IsRunning -}}
<p><code>bitcoind</code> is <strong>running</strong>.</p>
{{ else }}
<p><code>bitcoind</code> is <strong>not running</strong>.</p>
{{- end }}

<h2><code>lightningd</code> info</h2>
{{ if .Lightningd.IsRunning -}}
<p><code>lightningd</code> is <strong>running</strong></p>
<p>Our id is <code>{{ .Lightningd.Info.NodeId}}</code>.</p>
{{ with .Lightningd.Alias -}}
<p>Our alias is <code>{{ . }}</code>.</p>
{{ else }}
<p>Unknown alias for our own node.</p>
{{- end }}
<p>Our address is is <code>{{ .Lightningd.Info.Address }}</code>.</p>
<p>Our version is is <code>{{ .Lightningd.Info.Version }}</code>.</p>
<p>Our blockheight is is <code>{{ .Lightningd.Info.Blockheight }}</code>.</p>
<p>We know of {{ .Lightningd.Nodes }}.</p>
<p>We know of {{ .Lightningd.Channels.String }}.</p>

<h3>We have {{ .Lightningd.PeerNodes.String }} as peers:</h3>
<ul>
{{ range .Lightningd.PeerNodes -}}
<li><code>{{ .String }}</code></li>
{{- end }}
</ul>

{{ else }}
<p><code>lightningd</code> is <strong>not running</strong>.</p>
{{- end }}

</body>
</html>
