<html>
<head>
<style>
body {
	font-family: Arial;
}

a, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: black;
}
table {
	margin-top: 1em;
}

table td, table th {
	border: 1px solid #ddd;
	padding: 8px;
}

table tr:nth-child(even) {
	background-color: #eee;
}

table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
}
</style>
</head>
<body>
	<h1><a href="/"><code>lnmon</code></a></h1>

	<p>Viewing node <code>{{ .NodeId }} {{ .Addresses.String }}</code>.</p>

	<table>
		<tr>
			<th>Id</th>
			<th>Alias</th>
			<th>Last seen</th>
			<th># channels</th>
			<th>Channel states</th>
			<th>Our balance</th>
			<th>Their balance</th>
		</tr>
		<tr>
			<td><code>{{ .NodeId.Short }}</code></td>
			<td>{{ with .Alias }}{{ . }}{{ else }}Unknown alias{{ end }}</td>
			<td>{{ .LastTimestamp.Since }}</td>
			<td>{{ len .Channels }}</td>
			<td>{{ .Channels.DescState }}</td>
			<td>{{ .Channels.BalanceToUs }}</td>
			<td>{{ .Channels.BalanceToThem }}</td>
		</tr>
	</table>
</body>
</html>
