[Unit]
Description=decenter.world redirector server

After=network-online.target

[Service]
Environment=PATH=/usr/bin/:/opt/bin:/bin
ExecStart=/usr/bin/bash -c "decenter_redirector"
Restart=always

[Install]
WantedBy=multi-user.target
